/* 
-----------------------------------------------------
  Stylesheet Guide
-----------------------------------------------------
  
  1. Default stylesheets
    1.1. Color Schemes
    1.2. Fonts
  2. General classes
  3. Main
    2.1 Page tilte end breadcrumps
    2.2 Offsets
  4. Header
    4.1. Header List
    4.2. Enter Box
  5. Nav
    5.1. Main navigation
      5.1.1. Sub Menu
    5.2. Searchform
  6. Quotes End Focus Bosxs
    6.1. Quotes
    6.2. Focus
  7. Basic Elements
    7.1. Typography
    7.2. Lists
    7.3. Buttons
    7.4. Banners
    7.5. Dividers
    7.6. Tooltips
    7.7. Forms
    7.8. Tables
  8. Widgets and Shortcodes
    8.1. Accordion and Toggles
    8.2. Tabs and Tour Sections
    8.3. Turn Box
    7.2. Accordion and Toggles
    7.3. Alert Boxes
    7.4. Progress Bars
    7.5. Team Members
    7.6. Counters
    7.7. Tabs and Tour Sections
    7.8. Before/After
    7.9. Pricing Tables
    7.10. Countdown
  9. Carousels
    9.1. Vertical
    9.2. Horisantal
  10. Beginner
  11. Carousels
  11. Posts
    13.1. Post
    13.2. Post small
  14. Blog
  15. Shop
  16. Animations
  17. Footer
    17.1. Footer Bottom
    17.2. Copyright
*/
@import "reset.css";
@import "animate.css";
@import "../fonts/PFDindisplayproRegMedLight/font.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

   body {
    font-family: 'Open Sans', sans-serif;
    color:#787575;
    font-size:14px;
    line-height:22px;
    background:#f1f1f1;
    -webkit-text-size-adjust: none;
   }

   ::selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{background: #146eb3;color: #fff;}

   ::-webkit-scrollbar{
    background: #cdcdcd;  
    width: 10px;
   }

   ::-webkit-scrollbar-thumb{background: #333131;}


   ::-webkit-input-placeholder{
    color:#505050;

    -webkit-transition: text-indent .5s ease, color .5s ease;
        transition: text-indent .5s ease, color .5s ease;
   }

   input::-moz-placeholder{
    color:#505050;
    opacity:1;
   }

   textarea::-moz-placeholder{
    color: #505050;
    opacity: 1;
   }

   ::ms-input-placeholder{
    color:#505050;
   }

   [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
   }

   *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   }


  /* --------------------------------------------
        1.1. Color Schemes
  -------------------------------------------- */
    
    .red_color{
      color: #ff1616;
    }
    

  /* --------------------------------------------
        1.2. Fonts
  -------------------------------------------- */
    
    .PFDlight{font-family: 'pf_dindisplay_prolight';}
    .PFDregular{font-family: 'pf_dindisplay_proregular';}
    .PFDmedium{font-family: 'pf_dindisplay_promedium';}

/* ------------------------------------------------

    2. General Classes

------------------------------------------------ */

   .align_left{
    text-align: left;
   }

   .align_right{
    text-align: right;
   }

   .align_center{
    text-align: center;
   }

   .alignleft{
    float: left;
   }

   .alignright{
    float: right;
   }

   .wrapper{overflow: hidden;}

   .hide{ display: none;}

   .show{ display: block;}

   .d_ib{display: inline-block;}

   .transparent{ opacity:0; }

   .invisible{ 
    opacity: 0;
    visibility: hidden;
   }

   .visible{ 
    opacity:1; 
    visibility: visible;
   }

   .p_abs{position: absolute;}

   .p_rel{position: relative;}

   .p_fix{position: fixed;}

   .clear {clear:both;width:100%;line-height:0;font-size:0;}

   .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
   }

   .reg {text-transform:uppercase}

   img.alignleft{margin: 0 20px 20px 0;}
   img.alignright{margin: 0  20px 20px;}

/* ------------------------------------------------

    3. Main

------------------------------------------------ */
  
  .container{
    width: 1103px;
    margin: 0 auto;
  }

  .white_container{
    padding: 0 20px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  #content {padding:15px 0px 0px 0px;}

  .left_part{
    float: left;
    width: 728px;
  }

  .sidebar{
    float: right;
    width: 300px;
  }


  /* --------------------------------------------
        3.1. Page tilte end breadcrumps
  -------------------------------------------- */
    
    .page_title_box{
       padding: 39px 0 43px;
       color: #505050;
       border-bottom: 1px solid #efefef;
       background-color: #fcfcfc;
    }

    .breadcrumps{
       padding: 9px 0 0;
    }


  /* --------------------------------------------
        3.2. Offsets
  -------------------------------------------- */
    
    .section_offset{
       padding: 0 0 30px;
    }

    .section_offset:first-child{
       padding: 0 0 55px;
    }

  /* --------------------------------------------
        3.3. Icons
  -------------------------------------------- */
    
    .icon:before{
      content: "";
      display: inline-block;
      background: url(../images/icon.png) 0 0 no-repeat;
    }

    .pdf_icon:before{
      width: 26px;
      height: 32px;
      background-position: -2px -116px;
    }

    .student_icon:before{
      width: 23px;
      height: 26px;
      background-position: 0 -159px;
    }

    .microphone:before{
      width: 30px;
      height: 30px;
      background-position: -80px -77px;
    }

    .analysis{padding-top: 4px;}

    .analysis:before{
      width: 45px;
      height: 30px;
      background-position: -41px -118px;
    }

/* ------------------------------------------------

    4. Header

------------------------------------------------ */
   
  .header_top{
    margin-right: -20px;
    padding-right: 20px;
    height: 61px;
    border-bottom: 1px solid #e8e8e8;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  }
  .logo{float: left;background-color: #fff;}
  .logo a{font-size: 0;}

  .header_banner1{margin: 15px 0;}

  /* --------------------------------------------
        4.1. Header List
  -------------------------------------------- */

    .header_list li{float: left;}

    .header_list li a{
      display: block;
      font-size: 14px;
      line-height: 17px;
      padding: 21px 10px 23px;
      border-right: 1px solid #e8e8e8;
      color: #454141;
    }
    .header_list li a:hover{
      background-color: #f0f0f0;
    }

  /* --------------------------------------------
        4.2. Enter Box
  -------------------------------------------- */

    .enter_box span{
      display: block;
      float: left;
      font-size: 14px;
      line-height: 17px;
      padding: 21px 10px 23px;
      font-weight: 400;
      border-right: 1px solid #e8e8e8;
      color: #454141;
    }
    .enter_box span strong{font-weight: 600;}

    .enter_box a{
      display: block;
      float: left;
      font-size: 14px;
      line-height: 17px;
      padding: 21px 10px 23px;
      font-weight: 400;
      border-right: 1px solid #e8e8e8;
      color: #454141;
    }
    .enter_box a:hover{
      background-color: #f0f0f0;
    }

/* ------------------------------------------------

    5. Nav

------------------------------------------------ */

  .nav_wrap{
    position: relative;
    z-index: 99;
    background-color: #333030;
    display: table;
    width: 100%;
  }
  
  /* --------------------------------------------
      5.1. Main Navigation
  -------------------------------------------- */
    
    nav{
      display: table-cell;
    }

    .main_menu>li{
      float: left;
      position: relative;
      border-right: 1px solid #0d0c0c;
    }

    .main_menu>li:first-child{width: 92px;}

    .main_menu>li>a{
      display: block;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 18px;
      color: #fff;
      padding: 22px 10px;
      background-color: #242222;
    }

    .main_menu>li>a:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background-color: #333030;
    }
    .main_menu>li:hover>a{
      background-color: #333030;
    }
    .main_menu>li.current>a,
    .main_menu>li>a:active{
      background-color: #ff1616;
    }
    .main_menu>li:hover>a:after,
    .main_menu>li.current>a:after{display: none;}

  /* --------------------------------------------
      5.2. Sub Menu
  -------------------------------------------- */

    .sub_menu{
      width: 232px;
      position: absolute;
      top: 100%;
      left: 0;
      border-bottom: 5px solid #ff1616;
      display: none;
    }

    .main_menu>li:hover>.sub_menu{
      display: block;
    }

    .sub_menu>li>a{
      display: block;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      padding: 20px 0 18px 20px;
      border-top: 1px solid #0d0c0c;
      background-color: #242222;
      position: relative;
    }
    
    .sub_menu>li>a:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #333030;
    }

    .sub_menu>li>a:hover:after,
    .sub_menu>li>a:active:after{display: none;}

    .sub_menu>li>a:hover{background-color: #333030;}
    .sub_menu>li>a:active{background-color: #ff1616;}

  /* --------------------------------------------
      5.3. Additional Menu
  -------------------------------------------- */

    .additional_menu_box{
      background-color: #242222;
      border-right: 1px solid #0d0c0c;
      position: relative;
    }

    .additional_menu_box:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background-color: #333030;
    }

    .additional_menu_box button{
      display: block;
      position: relative;
      outline: none;
      border: none;
      cursor: pointer;
      width: 57px;
      height: 62px;
      background: none;
    }

    .additional_menu_box button:before{
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 22px;
      left: 18px;
      background: url(../images/icon.png) 0 0 no-repeat;
    }

    .additional_menu_box button:hover:before,
    .additional_menu_box button.active:before{
      background-position: 0 -23px;
    }

    .additional_menu{
      width: 232px;
      position: absolute;
      top: 100%;
      left: 0;
      border-bottom: 5px solid #ff1616;
      display: none;
    }

    .additional_menu>li{position: relative;}

    .additional_menu.active{
      display: block;
    }

    .additional_menu>li>a{
      display: block;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      padding: 20px 0 18px 20px;
      border-top: 1px solid #0d0c0c;
      background-color: #242222;
      position: relative;
    }
    
    .additional_menu>li>a:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #333030;
    }

    .additional_menu>li>a:hover:after,
    .additional_menu>li>a:active:after{display: none;}

    .additional_menu>li>a:hover{background-color: #333030;}
    .additional_menu>li>a:active{background-color: #ff1616;}

    .additional_menu .sub_menu{
      top: 0;
      right: 100%;
      left: auto;
    }
    .additional_menu>li:hover>.sub_menu{display: block;}

  /* --------------------------------------------
      5.2. Searchform
  -------------------------------------------- */
    
    .search_box{
      display: table-cell;
    }
    
    .search_form{
      display: block;
      position: relative;
      height: 62px;
    }

    .search_form input[type="text"]{
      display: block;
      outline: none;
      background: #333030;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      padding: 21px 55px 21px 12px;
      color: #a6a1a1;
      font-size: 16px;
      line-height: 20px;
      -webkit-transition: width 0.5s;
      -o-transition: width 0.5s;
      transition: width 0.5s;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }


    .search_form input[type="text"]:focus{
      border-left: 4px solid #b3adad;
      color: #f1f1f1;
      width: 200%;
      -webkit-transition: width 0.5s;
      -o-transition: width 0.5s;
      transition: width 0.5s;
    }
    .search_form button{
      display: block;
      position: absolute;
      outline: none;
      border: none;
      width: 55px;
      height: 62px;
      top: 0;
      right: 0;
      background: none;
      cursor: pointer;
    }

    .search_form  button:hover{opacity: 0.7;}

    .search_form button:before{
      content: "";
      display: block;
      position: absolute;
      top: 17px;
      left: 6px;
      width: 30px;
      height: 30px;
      background: url(../images/icon.png) -2px -50px no-repeat;
    }

    .search_form input[type="text"]:focus ~ button:before{
      background-position: -2px -84px;
    }


/* ------------------------------------------------

    6. Quotes End Focus Bosxs

------------------------------------------------ */

  .header_info_box{
    background-color: #2e2b2b;
    line-height: 22px;
  }

  .header_info_title{
    position: relative;
    float: left;
    width: 91px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 20px 0;
  }
  .header_info_title:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
  }
  
  .header_info_container{overflow: hidden;}
  
  /* --------------------------------------------
        6.1. Quotes
  -------------------------------------------- */
    
    .quotes_box .header_info_title{
      background-color: #1575bf;
    }
    .quotes_box .header_info_title:before{border-left-color: #1575bf;}

    .quotes_box .header_info_container{
      border-bottom: 1px solid #1c1a1a;
      padding: 20px 20px;
      position: relative;
    }

    .quotes_box .header_info_container:before{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #403e3e;
    }
    
    .quotes_box .ticker{background: none;}

    .quotes_box .ticker span{
      color: #fff;
      font-size: 15px;
      padding-right: 10px;
    }

    .quotes_box .ticker span>strong{
      color: #22a7f0;
      font-weight: 400;
      padding-right: 5px;
    }

    .quotes_box .ticker span>i{
      display: inline-block;
      margin-top: 8px;
      margin-left: 5px;
      width: 10px;
      height: 5px;
      background: url(../images/icon.png) -26px -2px no-repeat;
    }
    

  /* --------------------------------------------
        6.2. Focus
  -------------------------------------------- */

    .focus_box .header_info_title{
      background-color: #403e3e;
    }

    .focus_box .header_info_title:before{border-left-color: #403e3e;}

    .focus_box .header_info_container{
      padding: 0 20px;
      color: #f1f1f1;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.5px;
      text-align: center;
      white-space: nowrap;
    }

    .focus_box .header_info_container .owl-item{
      height: 62px;
      position: relative;
    }

    .focus_box .header_info_container .owl-item:before{
      display: inline-block;
      content: "";
      width: 0;
      height: 100%;
      vertical-align: middle;
    }


    .focus_box .header_info_container .owl-item>div{display: inline-block;vertical-align: middle;}
    .focus_box .header_info_container span{color: #ff1616;}

    .focus_box .owl-controls .owl-buttons div{
      display: none;
    }

/* ------------------------------------------------

    7. Basic Elements

------------------------------------------------ */
   /* --------------------------------------------
        7.1. Typography
   -------------------------------------------- */
  
      h1,h2,h3,h4,h5,h6{
         font-weight:normal;
         line-height: 1;
         color: #333;
         margin: 0;
         margin-bottom: 17px;
         position: relative;
      }

      h1{font-size: 38px;}

      h2{
        font-family: 'pf_dindisplay_promedium';
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      h3{
        font-family: 'pf_dindisplay_proregular';
        font-size: 19px;
        line-height: 38px;
        text-transform: uppercase;
        margin-bottom: 6px;
      }
        .PFDlight{font-family: 'pf_dindisplay_prolight';}

      h4{
        font-family: 'pf_dindisplay_prolight';
        font-size: 22px;
      }

      h5{font-size: 16px;}

      h6{font-size: 14px;}

      .aside_title{
        line-height: 45px;
        border-top: 1px solid #e3e3e3;
      }


      h2>.icon,
      h3>.icon,
      h4>.icon,
      h5>.icon,
      h6>.icon{
        position: absolute;
        right: 0;
        line-height: inherit;
      }

      h2>.sub_title,
      h3>.sub_title,
      h4>.sub_title,
      h5>.sub_title,
      h6>.sub_title{
        font-size: 17px;
        color: #787575;
        position: relative;
        display: inline-block;
        padding-left: 21px;
      }

      h2>.sub_title:before,
      h3>.sub_title:before,
      h4>.sub_title:before,
      h5>.sub_title:before,
      h6>.sub_title:before{
        content: "";
        display: block;
        position: absolute;
        height: 26px;
        top: 50%;
        margin-top: -13px;
        width: 1px;
        background-color: #e3e3e3;
        left: 10px;
      }

      .title1{
        font: 17px/27px 'pf_dindisplay_proregular';
        color: #454242;
        background-color: #f1f1f1;
        text-transform: uppercase;
        padding: 9px 55px 9px 15px;
        position: relative;
        margin-bottom: 4px;
      }

      .title1 .icon{
        right: 28px;
      }

      .title1:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
      }

      .title1.red_border:before{background-color: #ff1616;}

      p:not(:last-child){margin-bottom: 15px;}

      mark{background-color: #20cfef;padding: 0 2px;color: #fff;}
      mark.red{background-color: #ee352f;}

      a{
         color: #454242;
         text-decoration: none;
         -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
         transition: all 0.5s;
      }
      a:hover{
         color: #146eb3;
         text-decoration: none;
         -webkit-transition: all 0.3s;
         -o-transition: all 0.3s;
         transition: all 0.3s;
      }
      a:focus,
      a:visited{
         text-decoration: none;
      }

      .link_accent{
        color: #146eb3;
      }
      .link_accent:hover{
        color: #454242;
      }

      a.icon:hover{opacity: 0.7;}

   /* --------------------------------------------
        7.2. Lists
   -------------------------------------------- */

      .list1>li{
        padding: 8px 20px 8px 0;
        border-top: 1px solid #e3e3e3;
        font-size: 15px;
        line-height: 22px;
      }

      .list1>li:first-child{padding-top: 0;border: none;}

      .news_list>li{
        background-color: #f5f5f5;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 4px;
        height: 38px;
      }

      .news_list>li time{
        display: block;
        position: relative;
        padding:8px 0 8px 28px;
        float: left;
        width: 64px;
        background-color: #f0f0f0;
        color: #787777;
        font-size: 11px;
        line-height: 20px;
        font-weight: 700;
      }

      .news_list>li time:before{
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 6px;
        top: 50%;
        margin-top: -10px;
        background: url(../images/icon.png) -24px -13px no-repeat;
      }

      .news_list>li p{
        overflow: hidden;
        padding: 7px 0 7px 10px;
      }

      .list2>li{
        margin-bottom: 4px;
      }

      .list2>li>a{
        display: block;
        position: relative;
        background-color: #f5f5f5;
        font-size: 14px;
        line-height: 22px;
        color: #454242;
        padding: 8px 5px 9px 14px;
        letter-spacing: -0.2px;
      }

      .list2>li>a:before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 3px;
        background-color: #e3e3e3;
      }

      .list2>li>a:hover{
        background-color: #f2f2f2;
        color: #146eb3;
      }

      .list2>li>a:hover:before{
        width: 4px;
        background-color: #146eb3;      }

      .list3{}
      .list3_item{
        background:url(../images/marker1.png) 0 7px no-repeat;
        padding-left:20px;
      }
      .list3_link{}


  /* --------------------------------------------
        7.3. Buttons
  -------------------------------------------- */
    
    .archive_btn{
      display: block;
      width: 172px;
      font: 16px/19px 'pf_dindisplay_proregular';
      text-transform: uppercase;
      text-align: center;
      background-color: #f0f0f0;
      color: #333131;
      padding: 14px 0;
    }

    .archive_btn:hover{
      color: #333131;
      background-color: #e8e8e8;
    }

    .edition_btn{
      display: block;
      width: 287px;
      font: 15px/19px 'pf_dindisplay_proregular';
      text-transform: uppercase;
      text-align: center;
      background-color: #146eb3;
      color: #fff;
      padding: 11px 0;
      border: 3px solid #115e99;
    }

    .edition_btn:hover{
      background-color: #115e99;
      color: #fff;
    }

    .button1{
      font: 17px/21px 'pf_dindisplay_proregular';
      color: #fff;
      border: 4px solid #136bad;
      background-color: #1575bf;
      padding: 9px 25px;
      border-radius: 3px;
      cursor: pointer;
      outline: none;
    }

    .button1:hover{
      background-color: #136bad;
      color: #fff;
    }

    .load_btn{
      display: block;
      text-align: center;
      border: 1px solid #ebebeb;
      background-color: #f0f0f0;
      font: 16px/21px 'pf_dindisplay_proregular';
      color: #333131;
      padding: 13px 0;
      text-transform: uppercase;
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }

    .load_btn:hover{
      color: #333131;
      background-color: #e6e6e6;
    }

    .load_btn:before{
      content: attr(data-text);
    }
    

  /* --------------------------------------------
        7.4. Banners
  -------------------------------------------- */
    

    .banner1{margin-bottom: 25px;}
    .banner2{margin-bottom: 20px;}


  /* --------------------------------------------
        7.5. Dividers
  -------------------------------------------- */
    
    hr{
      border: none;
      border-bottom: 1px solid #e3e3e3;
      margin:0 0 15px;
    }
    
    hr.separator1{
      height: 4px;
      border-top: 1px solid #e3e3e3;
      margin: 0 0 25px;
    }

    hr.separator2{margin-bottom: 6px;}

  /* --------------------------------------------
        7.6. Tooltips
  -------------------------------------------- */

    .tooltip{
      position: absolute;
      display: block;
      font-size: 12px;
      line-height: 17px;
      color: #f1f1f1;
      padding: 5px 13px;
      background-color: #333131;
      top: -36px;
      left: 50%;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate(-50%,-15px);
      -ms-transform: translate(-50%,-15px);
      -o-transform: translate(-50%,-15px);
      transform: translate(-50%,-15px);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    *:hover>.tooltip{
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    .tooltip:before{
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -4px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top: 5px solid #333131;
    }
    
  /* --------------------------------------------
        7.7. Forms
  -------------------------------------------- */
    
    .ask_question{
      position: relative;
      margin-top: 30px;
    }

    .ask_question>i{
      display: block;
      position: absolute;
      top: 16px;
      right: 15px;
      width: 20px;
      height: 20px;
      background: url(../images/icon.png) -47px -79px no-repeat;
    }

    .ask_question>textarea{
      width: 100%;
      outline: none;
      font-size: 14px;
      line-height: 21px;
      color: #8c8989;
      border: 1px solid #e3e3e3;
      border-radius: 2px;
      background-color: #f7f7f7;
      height: 52px;
      margin-bottom: 10px;
      resize:none;
      padding: 15px 40px 10px 15px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    .ask_question>textarea:focus{
      color: #333232;
      border-color: #1575bf;
      height: 104px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    .ask_question>textarea:focus ~ i{
      display: none;
    }

    .ask_question button.button1{
      display: none;
    }

    .ask_question>textarea:focus ~ button{display: block;}



/* ------------------------------------------------

    8. Widgets and Shortcodes

------------------------------------------------ */


  /* --------------------------------------------
        8.1. Accordion and Toggles
  -------------------------------------------- */
    

  /* --------------------------------------------
        8.2. Tabs and Tour Sections
  -------------------------------------------- */
    
    .tabs_list{
      position: relative;
      margin-bottom: 25px;
    }
    .tabs_list:before{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #e3e3e3;
    }

    .tabs_list>li{
      float: left;
      padding-right: 4px;
      background-color: #fff;
      position: relative;
      z-index: 9;
    }

    .tabs_list>li>a{
      display: block;
      font-size: 17px;
      line-height: 19px;
      padding: 11px 15px;
      border: 2px solid #e3e3e3;
      position: relative;
    }

    .tabs_list>li>a:hover,
    .tabs_list>li.active>a{
      background-color: #f1f1f1;
      color: #454242;
    }

    .tabs_list>li.active>a{cursor: default;}

    .tabs_list>li.active>a:before,
    .tabs_list>li.active>a:after{
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top: 8px solid #e3e3e3;
      top: 100%;
      left: 50%;
      margin-left: -4px;
    }

    .tabs_list>li.active>a:before{
      border: 3px solid transparent;
      border-top: 6px solid #f1f1f1;
      margin-left: -3px;
      z-index: 9;
    }
    
    .tabs_contant>div{display: none;}
    .tabs_contant>div.active{display: block;}


  /* --------------------------------------------
        8.3. Turn Box
  -------------------------------------------- */

    .nav_buttons>a{
      display: block;
      position: relative;
      float: left;
      width: 38px;
      height: 38px;
      border: 2px solid #e3e3e3;
      margin-left: 4px;
    }

    .nav_buttons>a:hover{
      background-color: #333131;
    }

    .nav_buttons>a:before{
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      margin-left: -6px;
      margin-top: -6px;
      background-image: url(../images/icon.png);
      background-repeat: no-repeat;
    }
    

    .nav_buttons>a.prev_btn:before{background-position: -47px 0;}

    .nav_buttons>a.next_btn:before{background-position: -89px 0;}

    .nav_buttons>a.turn_btn:before{background-position: -34px -34px;}

    .nav_buttons>a.prev_btn:hover:before{background-position: -68px 0;}
    
    .nav_buttons>a.next_btn:hover:before{background-position: -114px 0;}

    .nav_buttons>a.turn_btn:hover:before{background-position: -54px -34px;}

/* ------------------------------------------------

    9. Carousels

------------------------------------------------ */

  /* --------------------------------------------
        9.1. Vertical
  -------------------------------------------- */
    
    .news_slider .news_list{height: 210px;}

    .news_slider .news_list>li{
      display: none;
    }

    .news_slider .news_list>li.active{
      display: block;
    }

    .news_slider_nav{
      position: absolute;
      top: -70px;
      right: 0;
    }

    .news_slider_nav>a{
      display: block;
      position: relative;
      float: left;
      width: 38px;
      height: 38px;
      border: 2px solid #e3e3e3;
      margin-left: 4px;
    }
    .news_slider_nav>a:hover{
      background-color: #333131;
    }

    .news_slider_nav>a:before{
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      margin-left: -6px;
      margin-top: -6px;
      background-image: url(../images/icon.png);
      background-repeat: no-repeat;
    }

    .news_slider_nav>a.slider_nav_prev:before{background-position: -91px -18px;}

    .news_slider_nav>a.slider_nav_next:before{background-position: -49px -18px;}

    .news_slider_nav>a.slider_nav_prev:hover:before{background-position: -114px -18px;}
    
    .news_slider_nav>a.slider_nav_next:hover:before{background-position: -72px -18px;}

  /* --------------------------------------------
        9.2. Horisantal
  -------------------------------------------- */

    .owl-controls .owl-buttons div{display: none;}

    .post_carousel{
      margin: 0 -5px;
    }
    .post_carousel .owl-item{padding: 0 5px;}
    
/* ------------------------------------------------

    10. Beginner

------------------------------------------------ */
  
  .beginner_left{
    width: 361px;
    float: left;
  }

  .beginner_right{
    width: 345px;
    float: right;
  }


/* ------------------------------------------------

    11. Posts

------------------------------------------------ */

  .post_box{
    margin: 0 -5px;
  }

  .post_box:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
  }

  .post_col3{
    float: left;
    width: 33.33%;
    padding: 0 5px;
  }
  
  /* --------------------------------------------
        11.1. Post
  -------------------------------------------- */
    
    .post{margin-bottom: 20px;}

    .post>img{width: 100%;}

    .post_info{
      font: 14px/17px 'pf_dindisplay_proregular';
      padding: 10px 0;
    }

    .post_info time{
      display: block;
      float: left;
      position: relative;
      padding-left: 20px;
    }

    .post_info time:before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 1px;
      width: 16px;
      height: 17px;
      background: url(../images/icon.png) -39px -52px no-repeat;
    }

    .post_info span{
      display: block;
      float: right;
      position: relative;
      padding-left: 25px;
    }

    .post_info span:before{
      content: "";
      display: block;
      position: absolute;
      top: 1px;
      left: 0;
      width: 21px;
      height: 16px;
      background: url(../images/icon.png) -64px -52px no-repeat;
    }

    .post figcaption>a{
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.3px;
      font-weight: 600;
    }
    .post.big figcaption>a{
      font-size: 15px;
      line-height: 24px;
    }
    
  /* --------------------------------------------
        11.2. Post small
  -------------------------------------------- */
    
    .post_small{
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #e3e3e3;
    }

    .post_small>img{
      float: left;
      margin-right: 10px;
    }

    .post_small figcaption{
      display: block;
      overflow: hidden;
    }

    .post_small figcaption>a{
      font-size: 14px;
      line-height: 21px;
    }

    .post_small figcaption>time{
      font-size: 13px;
      line-height: 21px;
      color: #999999;
      display: block;
    }

/* ------------------------------------------------

    16. Footer

------------------------------------------------ */




/* ------------------------------------------------

    16. Footer

------------------------------------------------ */

   footer {}