/* 
-----------------------------------------------------
  Stylesheet Guide
-----------------------------------------------------
  
  1. Default stylesheets
    1.1. Color Schemes
    1.2. Fonts
  2. General classes
  3. Main
    2.1 Page tilte end breadcrumps
    2.2 Offsets
  4. Header
    4.1. Header List
    4.2. Enter Box
  5. Nav
    5.1. Main navigation
      5.1.1. Sub Menu
    5.2. Searchform
  6. Basic Elements
    6.1. Typography
    6.2. Lists
    6.3. Buttons
    6.4. Dividers
    6.5. Tooltips
    6.6. Tables
    6.7. Forms
  7. Widgets and Shortcodes
    7.1. Icon Boxes
    7.2. Skills
      7.2.1. Skills circle
      7.2.2. Skillbar
    7.3. Message Box
    7.2. Accordion and Toggles
    7.3. Alert Boxes
    7.4. Progress Bars
    7.5. Team Members
    7.6. Counters
    7.7. Tabs and Tour Sections
    7.8. Before/After
    7.9. Pricing Tables
    7.10. Countdown
  8. Isotope
  9. Sliders
  10. Lightboxes
  11. Carousels
  12. Main
  13. Portfolio & Gallery
    13.1. Portfolio Single item
    13.2. Related Portfolio Projects
    13.3. Gallery Albums
    13.4. Gallery Flow
    13.5. Protected Gallery
    13.6. Gallery wall items
  14. Blog
  15. Shop
  16. Animations
  17. Footer
    17.1. Footer Bottom
    17.2. Copyright
*/
@import "reset.css";
@import "../fonts/PFDindisplayproRegMedLight/font.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

   body {
    font-family: 'Open Sans', sans-serif;
    color:#787575;
    font-size:14px;
    line-height:22px;
    background:#f1f1f1;
    -webkit-text-size-adjust: none;
   }

   ::selection{
    color: #fff;
   }

   ::-moz-selection{
    color: #fff;
   }

   ::-moz-selection{background: #22cfef;}

   ::-webkit-scrollbar{
    background: #cdcdcd;  
    width: 10px;
   }

   ::-webkit-scrollbar-thumb{background: #333131;}


   ::-webkit-input-placeholder{
    color:#505050;

    -webkit-transition: text-indent .5s ease, color .5s ease;
        transition: text-indent .5s ease, color .5s ease;
   }

   input::-moz-placeholder{
    color:#505050;
    opacity:1;
   }

   textarea::-moz-placeholder{
    color: #505050;
    opacity: 1;
   }

   ::ms-input-placeholder{
    color:#505050;
   }

   [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
   }

   *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   }


   /* --------------------------------------------
        1.1. Color Schemes
   -------------------------------------------- */

    

   /* --------------------------------------------
        1.2. Fonts
   -------------------------------------------- */
    
    .PFDlight{font-family: 'pf_dindisplay_prolight';}
    .PFDregular{font-family: 'pf_dindisplay_proregular';}
    .PFDmedium{font-family: 'pf_dindisplay_promedium';}

/* ------------------------------------------------

    2. General Classes

------------------------------------------------ */

   .align_left{
    text-align: left;
   }

   .align_right{
    text-align: right;
   }

   .align_center{
    text-align: center;
   }

   .alignleft{
    float: left;
   }

   .alignright{
    float: right;
   }

   .wrapper{overflow: hidden;}

   .hide{ display: none;}

   .show{ display: block;}

   .d_ib{display: inline-block;}

   .transparent{ opacity:0; }

   .invisible{ 
    opacity: 0;
    visibility: hidden;
   }

   .visible{ 
    opacity:1; 
    visibility: visible;
   }

   .p_abs{position: absolute;}

   .p_rel{position: relative;}

   .p_fix{position: fixed;}

   .clear {clear:both;width:100%;line-height:0;font-size:0;}

   .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
   }

   .reg {text-transform:uppercase}

/* ------------------------------------------------

    3. Main

------------------------------------------------ */
  
  .container{
    width: 1103px;
    margin: 0 auto;
    padding: 0 20px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  #content {padding:0px 0px 0px 0px; min-height: 1500px;}

   /* --------------------------------------------
        3.1. Page tilte end breadcrumps
   -------------------------------------------- */
    
      .page_title_box{
         padding: 39px 0 43px;
         color: #505050;
         border-bottom: 1px solid #efefef;
         background-color: #fcfcfc;
      }

      .breadcrumps{
         padding: 9px 0 0;
      }
  /* --------------------------------------------
        3.2. Offsets
  -------------------------------------------- */
    
      .section_offset{
         padding: 55px 0;
      }

      .section_offset:first-child{
         padding: 0 0 55px;
      }

      .cont_pad{
         padding: 75px 0 0;
      }

/* ------------------------------------------------

    4. Header

------------------------------------------------ */
   
  .header_top{
    margin-right: -20px;
    padding-right: 20px;
    height: 61px;
    border-bottom: 1px solid #e8e8e8;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  }
  .logo{float: left;background-color: #fff;}
  .logo a{font-size: 0;}

  /* --------------------------------------------
        4.1. Header List
   -------------------------------------------- */

    .header_list li{float: left;}

    .header_list li a{
      display: block;
      font-size: 14px;
      line-height: 17px;
      padding: 21px 10px 23px;
      border-right: 1px solid #e8e8e8;
      color: #454141;
    }
    .header_list li a:hover{
      background-color: #f0f0f0;
    }

  /* --------------------------------------------
        4.2. Enter Box
  -------------------------------------------- */

    .enter_box span{
      display: block;
      float: left;
      font-size: 14px;
      line-height: 17px;
      padding: 21px 10px 23px;
      font-weight: 400;
      border-right: 1px solid #e8e8e8;
      color: #454141;
    }
    .enter_box span strong{font-weight: 600;}

    .enter_box a{
      display: block;
      float: left;
      font-size: 14px;
      line-height: 17px;
      padding: 21px 10px 23px;
      font-weight: 400;
      border-right: 1px solid #e8e8e8;
      color: #454141;
    }
    .enter_box a:hover{
      background-color: #f0f0f0;
    }

/* ------------------------------------------------

    5. Nav

------------------------------------------------ */

  .nav_wrap{background-color: #333030;}
  
  /* --------------------------------------------
        5.1. Main Navigation
   -------------------------------------------- */
    
    nav{
      
    }

    .main_menu>li{
      float: left;
      position: relative;
      border-right: 1px solid #0d0c0c;
    }

    .main_menu>li>a{
      display: block;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 18px;
      color: #fff;
      padding: 22px 10px;
      background-color: #242222;
    }

    .main_menu>li>a:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background-color: #333030;
    }
    .main_menu>li:hover>a{
      background-color: #333030;
    }
    .main_menu>li.current>a,
    .main_menu>li>a:active{
      background-color: #ff1616;
    }
    .main_menu>li:hover>a:after,
    .main_menu>li.current>a:after{display: none;}

  /* --------------------------------------------
    5.2. Sub Menu
  -------------------------------------------- */

    .sub_menu{
      width: 232px;
      position: absolute;
      top: 100%;
      left: 0;
      border-bottom: 5px solid #ff1616;
      display: none;
    }

    .main_menu>li:hover>.sub_menu{
      display: block;
    }

    .sub_menu>li>a{
      display: block;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      padding: 20px 0 18px 20px;
      border-top: 1px solid #0d0c0c;
      background-color: #242222;
      position: relative;
    }
    
    .sub_menu>li>a:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #333030;
    }

    .sub_menu>li>a:hover:after,
    .sub_menu>li>a:active:after{display: none;}

    .sub_menu>li>a:hover{background-color: #333030;}
    .sub_menu>li>a:active{background-color: #ff1616;}

  /* --------------------------------------------
    5.3. Additional Menu
  -------------------------------------------- */

    .additional_menu_box{
      background-color: #242222;
      border-right: 1px solid #0d0c0c;
      position: relative;
      padding: 22px 18px 20px;
    }

    .additional_menu_box:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background-color: #333030;
    }

    .additional_menu_box button{
      display: block;
      outline: none;
      border: none;
      cursor: pointer;
      width: 20px;
      height: 20px;
      background: url(../images/icon.png) 0 0 no-repeat;
    }

    .additional_menu_box button:hover,
    .additional_menu_box button.active{
      background-position: 0 -23px;
    }

    .additional_menu{
      width: 232px;
      position: absolute;
      top: 100%;
      left: 0;
      border-bottom: 5px solid #ff1616;
      display: none;
    }

    .additional_menu>li{position: relative;}

    .additional_menu.active{
      display: block;
    }

    .additional_menu>li>a{
      display: block;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      padding: 20px 0 18px 20px;
      border-top: 1px solid #0d0c0c;
      background-color: #242222;
      position: relative;
    }
    
    .additional_menu>li>a:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #333030;
    }

    .additional_menu>li>a:hover:after,
    .additional_menu>li>a:active:after{display: none;}

    .additional_menu>li>a:hover{background-color: #333030;}
    .additional_menu>li>a:active{background-color: #ff1616;}

    .additional_menu .sub_menu{
      top: 0;
      right: 100%;
      left: auto;
    }
    .additional_menu>li:hover>.sub_menu{display: block;}

   /* --------------------------------------------
        5.2. Searchform
   -------------------------------------------- */



/* ------------------------------------------------

    6. Basic Elements

------------------------------------------------ */
   /* --------------------------------------------
        6.1. Typography
   -------------------------------------------- */
  
      h1,h2,h3,h4,h5,h6{
         font-family: 'Roboto', sans-serif;
         font-weight:normal;
         line-height: 1.23em;
         color: #333333;
         margin: 0;
         margin-bottom: 17px;
      }

      h1{font-size: 38px;}
      h2{font-size: 30px;}
      h3{font-size: 22px;}
      h4{font-size: 18px;}
      h5{font-size: 16px;}
      h6{font-size: 14px;}

      p:not(:last-child){margin-bottom: 20px;}

      mark{background-color: #20cfef;padding: 0 2px;color: #fff;}
      mark.red{background-color: #ee352f;}

      a{
         color: #;
         text-decoration: none;
         -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
         transition: all 0.5s;
      }
      a:hover{
         color: #333;
         text-decoration: none;
         -webkit-transition: all 0.3s;
         -o-transition: all 0.3s;
         transition: all 0.3s;
      }
      a:focus,
      a:visited{
         text-decoration: none;
      }

   /* --------------------------------------------
        6.2. Lists
   -------------------------------------------- */
      .list1{}
      .list1_item{
        background:url(../images/marker1.png) 0 7px no-repeat;
        padding-left:20px;
      }
      .list1_link{}

      .list2{}
      .list2_item{
        background:url(../images/marker1.png) 0 7px no-repeat;
        padding-left:20px;
      }
      .list2_link{}

      .list3{}
      .list3_item{
        background:url(../images/marker1.png) 0 7px no-repeat;
        padding-left:20px;
      }
      .list3_link{}


   /* --------------------------------------------
        6.3. Buttons
   -------------------------------------------- */

   .btn{
      display: inline-block;
      outline: none;
      background: #;
      color: #;
   }
   .btn:hover{
      background-color: #;
      color: #;
   }




/* ------------------------------------------------

    16. Footer

------------------------------------------------ */

   footer {}